@import url("./styles/loginArea.css");
@import url("./styles/createAccount.css");
@import url("./styles/banners.css");
@import url("./styles/sistemaHomePage.css");
@import url("./styles/alteracaoDeUsuario.css");
@import url("./styles/responsividade/telaLogin.css");
.painel{
    height: 100vh;
}
.outSet{
    display: flex;
    width: 70%;
    height: 60vh;
    margin: 0px auto;
    margin-top: 100px;
    background-color: #fff;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: radial-gradient(
        circle at 33% 100%,
        #111,
        #333,
        #555,
        #656565,
        #878787,
        #a9a9a9);
       /* #9063cd,
        #5344a9,
        #7a5197,
        #bb5090,
        #606060,
        #181818*/
}