.banner{
    width: 50%;
}
.defaultBannerOne{
    border: solid 1px #181818;
    width: 500px;
    height: 400px;
    position: absolute;
    background-color: #9063cd;
    opacity: 0;
}
.defaultBannerTwo{
    border: solid 1px #181818;
    width: 500px;
    height: 400px;
    position: absolute;
    background-color: #5344a9;
    opacity: 0;
    
}
.defaultBannerThree{
    border: solid 1px #181818;
    width: 500px;
    height: 400px;
    position: absolute;
    background-color: #7a5197;
    opacity: 0;
}
.defaultBannerFour{
    border: solid 1px #181818;
    width: 500px;
    height: 400px;
    position: absolute;
    background-color: #bb5090;
    opacity: 0;
}

.selecionado{
    opacity: 1;
}